p.title {
  font-size: 28px;
  font-weight: bold;
}

.w50p {
  width: 50%;
}

.w100p {
  width: 100%;
}

.fs-15,
svg.fs-15 {
  font-size: 15px;
}

.fs-22,
p.fs-22 {
  font-size: 22px;
}

.fs-24,
p.fs-24 {
  font-size: 24px;
}

.fs-25 {
  font-size: 25px;
}

.fs-28 {
  font-size: 28px;
}

svg.fs-30,
.fs-30 {
  font-size: 30px;
}

.fs-32 {
  font-size: 32px;
}

.fs-40 {
  font-size: 40px;
}

.white {
  color: white;
}

.bwhite {
  background-color: white;
}

.calculadora-real {
  background-color: white;
  border-radius: 10px;
}

span.MuiSlider-thumb span.MuiSlider-valueLabel {
  transform: translateY(115%) scale(1);
  background-color: transparent;
  color: #000;
}

span.MuiSlider-thumb span.MuiSlider-valueLabel:before {
  display: none;
}

span.MuiSlider-root,
.violet {
  color: #6c63fb;
}

span.MuiSlider-thumb {
  width: 20px;
  height: 20px;
  margin-top: -8px;
}

.calculadora-real span.MuiSlider-thumb {
  margin-top: -3px;
}

span.MuiSlider-track,
span.MuiSlider-rail {
  height: 4px;
}

button.btn-zz {
  color: #fff;
  background-color: #6c63fb;
  text-transform: none;
  font-size: 16px;
  padding: 6px 12px;
  height: 60px;
  border-radius: 10px;
}

#master {
  background-color: white;
}

@media screen and (max-width: 768px) {
  .btn-zz.bottom {
    position: fixed;
    bottom: 10%;
    width: 84%;
  }
}

@media (min-width: 769px) {
  #z {
    background-image: url("./images/vector.png");
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
  }

  #z .bwhite.container {
    border-radius: 0px 0px 20px 20px;
  }

  .btn-zz.bottom {
    margin-bottom: 40px;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  display: none;
}